.profileDiv{
    /* height: 220px; */
    /* padding-left: 20px; */
    /* margin-top: 80px; */
    text-align: center;
    /* background-color: blue; */
    width: 260px;
}

.myProfilePhoto{
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background: rgb(12, 35, 80, 0.3);
}


.logoutbtn{
    background-color: transparent;
    border: none;
}

.logoutImg{
    height: 50px;
    margin-top: 30px;
}

.div1{
    background-color:  rgb(205, 159, 248);
    width: 300px;
    height: 630px;
    border-top-left-radius: 20px;
    border-end-start-radius: 20px;
}